@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor_principal_site: ;
    --cor_fonte_destaque_site: #ffffff;
    --cor_botao_visualizar_projeto_github: #0066CC;
    --cor_icones: #ffffff;
    --cor_fonte_principal_site: #ffffff;
    --fonte_familia_site: "Fira Sans", sans-serif;
    --fonte_tamanho_h1: 4em;
    --fonte_tamanho_h2: 2em;
    --fonte_tamanho_paragrafos: 1em;
    --espacamento_entre_linhas_paragrafos: 1.8em;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 46fr;
     background: linear-gradient(90deg, #0e0d3a 10%, #111169 75%, #08076b 90%);
     color: var(--cor_fonte_principal_site);
     font-family: var(--fonte_familia_site);
     
}

p {
    font-size: clamp(14px, 2vw, 16px)
}

#cabecalho_principal_desktop {
   
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
 
    padding: 6px;
    color: var(--cor_fonte_principal_site);
    place-items: center center;
    border-bottom: 1px solid rgb(33, 37, 87);
}

#logo {
    font-family: var(--fonte_familia_site);
}
#menu_principal_desktop {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center start;
}

#lista_menus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    place-items: center;
    gap: 2px;
}

.botoes {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    font-family: var(--fonte_familia_site);
    color: var(--cor_fonte_principal_site);
    cursor: pointer;
}
.botoes:hover {
    background-color: #2c29da;
    color: #ffffff;
}

#inicio {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    height: 91.5vh;
}

#imagem_principal_desktop {
    display: grid;
    place-items: center;
}

#fundo_imagem_desktop {
    background-color: rgb(255, 255, 255);
    width: 16vw;
    aspect-ratio: 13/14;
    border-radius: 20%;
}

#apresentacao_desktop {
    display: grid;
    place-items: center start;
}

#apresentacao p {
    color: var(--cor_fonte_principal_site);
    font-family: var(--fonte_familia_site);
}

#apresentacao h1 {
    color: var(--cor_fonte_principal_site);
    font-size: var(--fonte_tamanho_h1);
    font-family: var(--fonte_familia_site);
    width: 500px;
}

/* Pagina Projetos */

#pagina_projetos {
    display: grid;
    height: 180vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15fr;
}

#titulo_pagina_projetos {

    display: grid;
    place-items: center center;
    
   
}

#projetos {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

.article_projetos {
    background-color: #0066CC;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 0px 15px;
    border-radius: 10px;
}

#fundo_imagem_projeto img{
    border-radius: 8px;
}

#descricao_projeto {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.campo_texto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1.5fr;
    place-items: center center;
    text-align: justify;
    padding: 0px 25px;
}








/* Pagina Tecnologias */
#tecnologias {
    display: grid;
    height: 100vh;
}

/* Pagina Sobre mim */
#sobre {
    display: grid;
    height: 100vh;
}

/* Rodapé */

#rodape {
    display: grid;
    height: 20vh;
    background-color: #090822;
}